@model ProductListViewModel

@{
    ViewData["Title"] = @Model.CurrentCategory;
}

<h1 class="display-4">@Model.CurrentCategory</h1>
@foreach (var product in Model.Products)
{
    <partial name="_ProductCard" model="product" />
}