@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]uppgifter</h1>
<div>
    <adress>
    E-mail: <a href="mailto:Uppfinnaren@Uppfinnaren.com">Uppfinnaren@Uppfinnaren.com</a> <br />
    Besök oss på:<br />
    Uppfinnarvägen 123<br />
    62141, Visby
    </adress>
</div>