@{
    ViewData["Title"] = "Hem";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till uppfinnarens butik!</h1>
    <br />
    <p>Jag är en uppfinnare som säljer prylar från mitt galleri! Kika gärna runt.</p>
    <p>Under produkter hittar du mina nuvarande uppfinningar som är till salu.</p>
</div>
